@page "/"
@inherits LayoutComponentBase

<div class="container text-center mt-5">
    <h1 class="mb-4">Добро пожаловать в Исторический Магазин!</h1>
    <p class="mb-5">
        Исследуйте нашу коллекцию реплик древнего оружия, доспехов, книг и сувениров!
    </p>

    <div>
        <NavLink class="btn btn-primary btn-lg me-3" href="authentication/login">Войти</NavLink>
        <NavLink class="btn btn-outline-primary btn-lg" href="authentication/register">Регистрация</NavLink>
    </div>
</div>
